.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-bottom: 50px;
	padding: 0 200px;

	& .todoApp {
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
		background: white;
	}
}
